:root {
    --sizeS: 1px;
    --sizeM: calc(var(--sizeS)*1.5);
    --sizeL: calc(var(--sizeS)*2);
    --blur: 0;
    --bColor: #99ddff6f;
    --mHeight: 50;
    --topRain: 5000px
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient(ellipse 150% 100% at bottom, #3a4b5c, #2c3a47 60%, #1a242f 80%);
    /* background-color: #1a242f; */
    cursor: url(cursor/cursorHollowKnight.cur), pointer;
    font-family: "Brush Script MT", cursive;
}

.sky {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(var(--blur));
}

.gota {
    position: absolute;
    border-radius: 50%;
    top: calc(var(--sizeS)*var(--mHeight)*-2);
    left: calc(var(--sizeL)*3);
    animation: rain linear infinite;
}

.gota.small {
    width: var(--sizeS);
    height: calc(var(--sizeS)*var(--mHeight));
    animation-duration: var(--speedS);
}

.gota.medium {
    width: var(--sizeM);
    height: calc(var(--sizeM)*var(--mHeight));
    animation-duration: var(--speedM);
}

.gota.large {
    width: var(--sizeL);
    height: calc(var(--sizeL)*var(--mHeight));
    animation-duration: var(--speedL);
}

.small.delay {
    animation-delay: calc(var(--speedS) / 2);
}

.medium.delay {
    animation-delay: calc(var(--speedM) / 2);
}

.large.delay {
    animation-delay: calc(var(--speedL) / 2);
}

@keyframes rain {
    0% {
        opacity: 0;
        top: calc(var(--sizeS)*var(--mHeight)*-2);
        left: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: var(--topRain);
        left: -10%;
    }
}

/* MONTANHAS */

.mountains {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mountains div {
    position: absolute;
    width: 100%;
    background: linear-gradient(#1a242f, #3a4b5c);
    bottom: 0;
}
.mountains .m1 {
    height: 90%;
    clip-path: polygon(36% 30%, 28% 49%, 14% 13%, 0 48%, 0 100%, 100% 100%, 100% 29%, 86% 56%, 68% 20%, 58% 47%, 51% 18%, 44% 48%);
}
.mountains .m2 {
    height: 80%;
    clip-path: polygon(5% 60%, 20% 25%, 35% 55%, 50% 15%, 65% 60%, 80% 30%, 95% 50%, 100% 40%, 100% 100%, 0 100%);
}
.mountains .m3 {
    height: 70%;
    clip-path: polygon(0 40%, 15% 20%, 30% 60%, 45% 10%, 60% 50%, 75% 25%, 90% 55%, 100% 40%, 100% 100%, 0 100%);
}
.mountains .m4 {
    height: 60%;
    clip-path: polygon(10% 50%, 25% 20%, 40% 40%, 55% 15%, 70% 50%, 85% 25%, 100% 60%, 100% 100%, 0 100%, 0 30%);
}
.mountains .m5 {
    height: 50%;
    clip-path: polygon(0 50%, 15% 0%, 30% 50%, 45% 10%, 60% 55%, 75% 15%, 90% 60%, 100% 30%, 100% 100%, 0 100%);
}
.mountains .m6 {
    height: 40%;
    clip-path: polygon(10% 30%, 25% 15%, 40% 45%, 55% 20%, 70% 50%, 85% 30%, 100% 80%, 100% 100%, 0 100%, 0 20%);
    /* clip-path: polygon(0 30%, 20% 10%, 40% 45%, 60% 25%, 80% 55%, 100% 20%, 100% 100%, 0 100%); */
}